<main role="main" class="inner cover">
  <h1>Pages#contact</h1>

  <p><%= number_to_phone "4444444444" %></p>
  <p><%= number_to_currency "150" %></p>
  <p><%= number_with_delimiter "123456789" %></p>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages.
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
 </main>
